@charset "UTF-8";

:root {
	--main-black: rgba(45, 49, 66, 1); /* #2D3142 */
	--main-black60: rgba(45, 49, 66, 0.6);
	--main-orange: rgba(244, 81, 30, 1); /* #F4511E */
	--main-orange-shade: #DB481B; 
	--main-blue: #1872FF;
}

html { 
	--header-height: 50px;
	--footer-height: 70px;
	color: var(--main-black);
	font-size: 16px;
}

html * {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: var(--main-black);
	height: 100%;
	margin: 0;
}

a {
	color: var(--main-black);
	text-decoration: none;

}

a:hover {
	opacity: 0.8;
}

* {
	outline: none;
}

button {
	border: 0;
	font: inherit;
	font-weight: bold;
	padding: 5px 6px;
}

/* width and height */
::-webkit-scrollbar {
	height: 7px;
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
	border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

